
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
nav{
    width: 100vw;
    padding: 10px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #fff;
    position: sticky;
    top: 0px;
    z-index: 10;
}
.flex-div{
    display: flex;
    align-items: center;
}
.nav-left
{  
   gap: 30px;
}
.menu-icon{
   padding: 5px;
   font-size: 35px;
   border-radius: 5px;

}
.menu-icon:hover{
    background-color: #ebe7e7;
}
.nav-left  img{
    width: 45px;
    height: 40px;
}
.nav-left > div
{  
    gap: 10px;
}
.nav-left > div > h1
{
    font-size: 23px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-right > img
{
    width: 30px;
    height: 30px;
}
.nav-right .profile{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
.nav-right > img:last-child
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-middle > .mic-icon
{
    width: 16px;
    height: 21px;
}
.nav-middle{
    flex: 0.5;
   height: 40px;
    justify-content: space-between;
    gap: 20px;
}
.nav-middle > .search-box
{
    flex: 1;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
}

.search-box > input
{
    flex: 1;
    height: 100%;
    padding: 10px 0px 10px 15px;
    border: none;
    background-color: transparent;
    outline: none;
}
.search-btn{
    height: 100%;
    background-color: #ccc;
    padding: 10px 20px;
    font-weight: 700;
}
/* ----------sidebar--------- */

.sidebar{
    background-color: #fff;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    padding: 20px;
   
    border:1px solid#ccc;
    overflow-y: scroll;

}

.sidebar-logo {
    padding-inline: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}
.sidebar-logo h1{
    margin-left: 10px;
    font-size: 16px;
}

.sidebar-logo .cancel
{
    width: 15px;
}
.sidebar-logo .flex-div img
{
    width: 30px;
}
.shortcut-links a img{
    width: 20px;
    margin-right: 20px;
}
.shortcut-links a{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
  border-radius: 5px;
  
}
.shortcut-links a:first-child{
    color: #ed3833;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background-color: #ccc;
    width: 85%;
}
.subscribed-list > h3
{
    font-size: 13px;
    margin: 20px 0px;
    color: #5a5a5a;
}
.subscribed-list > a
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    flex-wrap: wrap;
   
}
.subscribed-list  a img
{
    width: 25px;
    border-radius: 50px;
    margin-right: 20px;
}
.active,
.shortcut-links a:hover{
    background-color: rgba(0,0,0,0.1);
}

/* ---------filters------- */
.filters{
    position: fixed;
    top: 60px;
    width: 100vw;
    height: 50px;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;

}
.filter-options{
    flex: 0 0 auto;
    padding: 7px 15px;
    border-radius: 50px;
    background-color: #f0f0f0;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    color: #242424;
    font-size: 13px;
    cursor: pointer;

}
.filters.full-width{
    width: calc(100vw - 100px);
    left: 100px;
}
.sidebar::-webkit-scrollbar,
.filters::-webkit-scrollbar
{
    display: none;
}
.filter-options.active{
    color: #fff;
    background-color: #242424;
}

/* ---------videos------- */
.main-div{
    width: 100vw;   
    margin-top: 70px;
    background-color:#dbdbdb;
    padding: 10px;
   
}

.video-container{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    justify-content: center;
    grid-gap: 20px;
    overflow-x: hidden;
    cursor: pointer;
  
}

.video{

   min-height: 250px;
   height: auto;
  border-radius: 10px;
  overflow: hidden;
  
}
.thumbnail{
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
}

.content{
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  
}
.channel-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.title{
    width: 100%;
    height: 40px;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;

}
.channel-name{
    font-size: 14px;
    margin: 2px 0;
    color: #979797;

}


/* ======media-query====== */

@media screen and (max-width:900px){


    .sidebar{
    display: none;

    }
    .show{
        display: block;
        z-index: 100;
       
    }
   
    .filters{
        left: 0;
        width: 100vw;
    }
    .filters.full-width{
       
        left: 0px;
    }
    .menu-icon{
        font-size: 25px;
    }
    nav{
       padding-right: 20px;
      
    }
    .nav-left{
        gap: 15px;
    }
    .nav-left  img{
        width: 25px;
        height: 25px;
    }
    .nav-left > div > h1{
        font-size: 16px;
    }
    .nav-middle{
       flex: 0.5;
       height: 30px;
    }
    .mic-icon{
        display: none;
    }
    .nav-right > img{
    display: none;
    }
  
    
}
@media screen and (max-width:500px){
    .nav-middle{
       flex: 0.8;
    }
   .search-box > .search-content{
     width: 50px;
    }
    .search-btn{
        width: 40px;
        padding: 6px;
       
     
    }
    .video-container{
        padding: 20px 0px;
    }
}
@media screen and (min-width:901px)
{
    .sidebar-logo{
        display: none;
    }
    .sidebar{
        padding-top: 80px;
    }
    .small-sidebar{
        width: 100px;
        padding-inline: auto;
        
     }
     .small-sidebar a p{
         display: none;
     }
     .small-sidebar .shortcut-links {
      width: 100%;
     
     }
     .small-sidebar .shortcut-links a {
      padding-inline:15px ;
        }
     .small-sidebar h3{
         display: none;
     }
     .small-sidebar hr{
      width: 50%;
      margin-bottom: 20px;
      margin-inline: 13px;
     }
     
     .small-sidebar .subscribed-list  a
     {
         padding-inline: 15px;
     }
     .filters{     
        width: calc(100vw - 250px);
        height: 70px;
        left: 250px;
    }
    .main-div{
        width: calc(100vw - 250px);   
        margin-left: 250px;
            
    }
    .main-div.full-width{
        width: calc(100vw - 100px);
        margin-left: 100px;
    }
     
}